{
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "importOrder": [
    "react",
    "^react",
    "^react-dom$",
    "^react-(.*)$",
    "antd",
    "antd/*",
    "^axios",
    "<THIRD_PARTY_MODULES>",
    "^@src/.*",
    "^@interfaces/.*",
    "^@utils/.*",
    "^@components/.*",
    ".*scss$",
    ".*css$",
    "^@svg/.*",
    "^./.*",
    "^../.*"
  ],
  "importOrderSortSpecifiers": true
}
